body{
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(32, 79%, 81%);
}

.card-container{
    width: 95%;
    background-color:hsl(0,0%,100%);
    margin:4rem auto;
    border-radius: 5px;
    box-shadow: 1px 2px 15px hsl(228,12%,48%)
    
}

.card-info{
    padding: 1rem 1rem;
}

img{
    max-width:100%;
    border-radius: 5px 5px 0 0 ;
    object-fit: contain;
}

h1{
    font-family: 'Fraunces', serif;
}

h2{
    color:hsl(228,12%,48%);
    font-weight: 500;
    font-size: 1em;
    letter-spacing: .5em;
}

p{
    color:hsl(228,12%,48%);
    font-size: 1rem;
}

#discount-price{
    font-family: 'Fraunces', sans-serif;
    font-size: 2rem;
    color:hsl(158, 45%, 28%);
    margin-right: 1rem;
    
}

#full-price{
    text-decoration: line-through;
    color:hsl(228,12%,48%);
}

button{
    background-color: hsl(158, 45%, 28%);
    color: white;
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1rem;
    border:none;
    border-radius: 5px;
    margin-top: 1rem;
}

svg{
    padding-right: .5rem;
}



button:hover{
    background-color: hsl(158, 42%, 38%);
    cursor:pointer;
}

.attribution { 
    font-size: 11px; text-align: center;
 }

 .attribution a { 
    color: hsl(228, 45%, 44%); 
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .card-container{
        max-width: 100%;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .card-container{
        max-width: 80%;
    }
    img{
        content: url(/images/image-product-desktop.jpg);
        max-width: 50%;
        object-fit: cover;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .card-container{
        max-width: 60%;
    }
  
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .card-container{
        max-width: 50%;
        background-color:hsl(0,0%,100%);
        margin:1rem auto;
        border-radius: 5px;
        box-shadow: 1px 2px 15px hsl(228,12%,48%);
        display:flex;
        flex-direction: row;
    }
    img{
        content: url(/images/image-product-desktop.jpg);
        max-width: 50%;
        object-fit: cover;
    }
  }
  @media only screen and (min-width: 1500px) {
    .card-container{
        max-width: 40%;
        background-color:hsl(0,0%,100%);
        margin:1rem auto;
        border-radius: 5px;
        box-shadow: 1px 2px 15px hsl(228,12%,48%);
        display:flex;
        flex-direction: row;
    }
    img{
        content: url(/images/image-product-desktop.jpg);
        max-width: 50%;
        object-fit: cover;
    }
  }

